page-registro {
.img-perfil{
    img{
        border: 5px solid gray;
        border-radius: 100%;
        padding: 5px;
        margin: 0 auto;
        height: 20rem;
        width: 20rem;
    }
}
.formulario{
    ion-icon, ion-label{
        color: #A3D768 !important;
    }
    ion-icon{
        margin: 0 !important;
    }
    item-start{
        margin: 0 !important;
    }
}
.footer-md::before {
    border-top: none;
    background-image: none;
}
}
